@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Nunito:wght@400&family=Montserrat:wght@600&family=Playfair+Display:wght@700&family=Orbitron:wght@600&display=swap');

@import "tailwindcss";

/* Default Font for Body */
body {
  font-family: 'Nunito', sans-serif;
  background-color:  #E8F5E9 ;
}

/* Headings */
h1 {
  font-family: 'Poppins', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Paragraphs */
p {
  font-family: 'Roboto', sans-serif;
}

/* Links */
a {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #000;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}